@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
.header__container > a, .side-nav__btn > a, .side-nav__list a, .s_main__back {
  display: block;
  text-decoration: none;
}

.header__container > a:hover, .side-nav__btn > a:hover, .side-nav__list a:hover, .s_main__back:hover {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

button:active,
button:focus,
area:active,
area:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 30px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__img--mb {
  width: 150px;
  height: 20px;
  height: auto;
  margin: 6px 0 4px;
}

.header__text {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.header__text:hover {
  color: #c3c3c3;
}

.header__text--danger {
  color: #dd0000;
}

.header__text--danger:hover {
  color: #dd0000;
}

.header__download {
  position: relative;
  cursor: pointer;
}

.header__download:hover .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  left: -70px;
  bottom: -150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.header__icon-list {
  margin: 0;
  padding: 0;
}

.header__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
}

.header__icon-list img {
  width: 25px;
}

@media screen and (max-width: 1060px) {
  .header--pc {
    display: none !important;
  }
}

.header--mb {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header--mb {
    display: block;
  }
}

.footer {
  background-color: #333333;
  text-align: center;
}

.bank-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  background-color: #333333;
  color: #959595;
}

@media screen and (max-width: 991.98px) {
  .bank-info {
    display: block;
  }
}

.bank-info__title {
  display: inline-block;
  padding: 5px;
  margin: 0 15px 0;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #959595;
}

@media screen and (max-width: 991.98px) {
  .bank-info__title {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 575.98px) {
  .bank-info__title {
    font-size: 1.2rem;
  }
}

.bank-info__title span {
  padding: 0 10px;
}

@media screen and (max-width: 575.98px) {
  .bank-info__title span {
    padding: 0 6px;
  }
}

.bank-info__text {
  margin-bottom: 0;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 991.98px) {
  .bank-info__text {
    text-align: center;
  }
}

@media screen and (max-width: 575.98px) {
  .bank-info__text {
    font-size: 12px;
  }
  .bank-info__text br {
    display: none;
  }
}

.social-info {
  padding: 15px 10px;
  line-height: 1.75;
  background-color: #000;
  color: #fff;
}

.social-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 0;
}

@media screen and (max-width: 575.98px) {
  .social-info__list {
    margin-bottom: 5px;
  }
}

.social-info__list li {
  margin-bottom: 5px;
  padding: 0 3px;
  display: inline-block;
  font-size: 1rem;
}

@media screen and (max-width: 575.98px) {
  .social-info__list li {
    font-size: 0.9rem;
  }
}

.social-info__list img {
  width: 40px;
}

.social-info__text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 575.98px) {
  .social-info__text {
    font-size: 12px;
  }
  .social-info__text br {
    display: none;
  }
}

.right__box {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.goTop {
  width: 50px;
  height: 50px;
  background-color: rgba(119, 119, 119, 0.8);
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-30px) translateZ(0);
          transform: translateY(-30px) translateZ(0);
}

@media screen and (max-width: 767.98px) {
  .goTop {
    width: 40px;
    height: 40px;
  }
}

.goTop:hover {
  background-color: #009ce1;
}

.goTop:before, .goTop:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .goTop:before, .goTop:after {
    height: 3px;
  }
}

.goTop:before {
  left: 19%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.goTop:after {
  right: 19%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.goTop.show {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.side-nav {
  position: fixed;
  top: 80px;
  z-index: 50;
}

@media screen and (max-width: 1920px) {
  .side-nav {
    top: 60px;
  }
}

@media screen and (max-width: 1660px) {
  .side-nav {
    top: 40px;
  }
}

.side-nav__btn {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav__btn > a {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #333;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav__btn > a:hover {
  background-color: #009ce1;
}

.side-nav__btn > a::before, .side-nav__btn > a::after {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav__btn > a::before {
  top: 13px;
}

.side-nav__btn > a::after {
  bottom: 13px;
}

.side-nav__list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.side-nav__list li {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav__list a {
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 300;
}

.side-nav__right {
  right: 0;
}

.side-nav__right .side-nav__btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.side-nav__right .side-nav__btn > a::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.side-nav__right .side-nav__btn > a::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.side-nav__right .side-nav__list li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.side-nav__right .side-nav__list a {
  padding: 6px 15px;
  border-right: 4px solid transparent;
}

.side-nav__right .side-nav__list a:hover {
  border-color: #009ce1;
  background-color: #4d4d4d;
}

.side-nav__right .side-nav__list .side-nav__img {
  padding: 0;
  width: 120px;
  border-right: none;
}

.side-nav__right .side-nav__list .side-nav__img a {
  padding: 0;
  border-right: none;
}

.side-nav__right.side-nav--hide .side-nav__btn > a::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.side-nav__right.side-nav--hide .side-nav__btn > a::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.side-nav__right.side-nav--hide .side-nav__list {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  height: 0;
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .side-nav__right {
    position: relative;
    top: 0;
    left: 0;
    color: #888;
    background-color: #fff;
    text-align: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .side-nav__right .side-nav__btn {
    display: none;
  }
  .side-nav__right .side-nav__list {
    font-size: 0;
    white-space: nowrap;
    color: #777;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .side-nav__right .side-nav__list > li {
    position: relative;
    display: inline-block;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: none !important;
  }
  .side-nav__right .side-nav__list > li:not(:first-child):after {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    width: 0.5px;
    height: 50%;
    background-color: #888;
  }
  .side-nav__right .side-nav__list > li.side-nav__img {
    display: none;
  }
  .side-nav__right .side-nav__list a {
    padding: 10px 12px;
    color: #888;
    border: none;
    font-weight: 400;
  }
  .side-nav__right .side-nav__list a:hover, .side-nav__right .side-nav__list a:active {
    background-color: transparent;
  }
  .side-nav__right.fixed {
    position: fixed;
    top: 0;
    z-index: 50;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.side-nav__left {
  left: 0;
}

.side-nav__left .side-nav__btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.side-nav__left .side-nav__btn > a::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.side-nav__left .side-nav__btn > a::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.side-nav__left .menu_box {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav__left .side-nav__list a {
  padding: 5px;
  font-size: 14px;
  color: #fff;
}

.side-nav__left .side-nav__list a:hover {
  color: #fff;
  background-color: #009ce1;
}

.s_sub__title {
  position: relative;
  padding: 6px 0px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  background-color: rgba(51, 51, 51, 0.9);
}

.s_sub__title:after {
  content: '';
  display: block;
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background-color: #969696;
}

.s_main .side-nav__list a {
  padding: 0;
}

.s_main__back {
  padding: 6px 0px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  color: #95fff8;
  text-decoration: none;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.s_main__back:hover {
  color: #fff;
}

.side-nav--hide.side-nav__left .menu_box {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  height: 0;
  pointer-events: none;
}

.side-nav__left.side-nav--hide .side-nav__btn > a::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.side-nav__left.side-nav--hide .side-nav__btn > a::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

@media screen and (max-width: 767.98px) {
  .footer {
    padding-bottom: 50px;
  }
  .footer .social-info__list {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .right__box {
    bottom: 70px;
  }
}

body.board--show {
  overflow: hidden;
}

.wrap:after {
  content: '';
  display: block;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.board--show .wrap:after {
  display: block;
  opacity: 1;
}

.footer-board {
  position: fixed;
  display: none;
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec1819), to(#c40011));
  background-image: linear-gradient(#ec1819, #c40011);
}

@media screen and (max-width: 767.98px) {
  .footer-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-board__btn > a {
  padding: 6px 0 4px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  background-color: transparent !important;
}

.footer-board__btn > a span.txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.footer-board__btn > a span.txt .ico {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footer-board__btn[data-btn] > a {
  pointer-events: none;
}

#MenuMobile {
  position: static;
}

#MenuMobile .footer-board__btn {
  border-right: 1px solid #be0b11;
}

#MenuMobile .col-6 {
  position: static;
}

#MainNavBarMobile .ico {
  background-image: url(../img/source/icon-main.png);
}

#SubNavBarMobile .ico {
  background-image: url(../img/source/icon-sub.png);
}

.custom-footer .footer-board__btn:first-child {
  border-right: 1px solid #be0b11;
}

.custom-footer .footer-board__btn:first-child .ico {
  background-image: url(../img/source/icon-count.png);
}

.custom-footer .footer-board__btn:last-child .ico {
  background-image: url(../img/source/icon-follow.png);
}

[data-board] {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 90;
  background-color: #000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

[data-board] ul {
  margin: 0;
  padding: 10px 10px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

[data-board] ul li {
  padding: 0 6px;
  margin-bottom: 8px;
  max-width: 33.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

[data-board] ul li a {
  padding: 4px 0;
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

[data-board] ul li a:active {
  color: #fff02b;
  border-color: #fff02b;
}

.board--close {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  z-index: 80;
  text-decoration: none !important;
}

.board--close:before {
  content: '';
  width: 260px;
  height: 130px;
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 40;
  background-color: #d7000f;
  border-radius: 260px 260px 0 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 575.98px) {
  .board--close:before {
    width: 240px;
    height: 120px;
    border-radius: 240px 240px 0 0;
  }
}

.board--close p {
  color: #fff;
  text-decoration: none;
}

.board--close .board--icon {
  padding-top: 12px;
  position: relative;
  z-index: 50;
  text-align: center;
  pointer-events: none;
}

.board--close .board--icon img {
  width: auto;
  height: 20px;
}

.board2 ul {
  padding: 10px 10% 10px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
}

.board2 ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 0;
}

.board2 ul li a {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  border: none;
  padding: 4px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.board2 ul li a img {
  width: 42px;
}

.main {
  background: #e4403f;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 50px 15px;
  }
}

.vote {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .vote {
    width: 100%;
  }
}

.vote .form_title {
  font-size: 24px;
  text-align: center;
}

.vote .too {
  text-align: center;
}

.vote form {
  padding: 20px;
}

.vote form label {
  font-size: 24px;
}

.vote form select {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.vote form input[type="text"] {
  width: 100%;
}

.btn_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_send input[type="submit"] {
  padding: 10px 50px;
  border: 0;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_send .btn_pic {
  display: inline-block;
}

.btn_send .btn_pic img {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}

.wrap.rightNavFixed {
  padding-top: 30px;
}

section {
  height: 500px;
  background-color: #ccc;
}

section:nth-child(odd) {
  background-color: #888;
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

.inset {
  text-align: center;
}

.inset a {
  color: #06c;
  font: 11px/20px normal;
}

.logotype a {
  display: block;
  width: 186px;
  height: 60px;
  text-indent: -9999px;
}

#HEADER .logotype a {
  background: url(//a.ecimg.tw/img/activity/v1/header/logo_h24.gif);
}

#HEADER {
  position: relative;
  height: 60px;
  width: 930px;
  margin: 0 auto;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  background: url(//a.ecimg.tw/img/activity/v1/header/header_bg.gif) repeat-x;
}

#HEADER a {
  display: block;
  position: absolute;
}

#HEADER .site_roadsign {
  width: 68px;
  height: 65px;
  left: 186px;
  top: 0;
  text-indent: -9999px;
  background: url(//a.ecimg.tw/img/activity/v1/header/site_roadsign.gif);
}

#HEADER .site_ad {
  left: 312px;
  top: 16px;
  border: 1px solid #ddd;
}

#FOOTER {
  margin: 10px 0 20px;
  color: #777;
  font: 13px/1.5 Verdana;
  text-align: center;
}

#FOOTER a {
  color: #333;
  font: 13px/1.5 Verdana;
}

#FOOTER span {
  margin: 0 4px;
  color: #999;
  font: 12px/1.5 Verdana;
}

#GLOBALWRAPPER,
#WRAPPER {
  margin: 0 auto;
}

#GLOBALWRAPPER {
  overflow: hidden;
  margin-bottom: 7px;
}
/*# sourceMappingURL=all.css.map */