.main {
    background: rgb(228, 64, 63);
    padding: 50px 0;
    @media screen and (max-width: 768px) {
        padding: 50px 15px;
    }
}
.vote {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    .form_title {
        font-size: 24px;
        text-align: center;
    }
    .too {
        text-align: center;
    }
    form {
        padding: 20px;
        label {
            font-size: 24px;
        }
        select {
            width: 100%;
            height: 30px;
            margin-bottom: 20px;
        }
        input[type="text"] {
            width: 100%;
        }
        input[type="text"]::placeholder{
            padding-left: 5px;
        }
        
    }
}

// 勾勾
.btn_send {
    display: flex;
    align-items: center;
    justify-content: center;
    input[type="submit"] {
        padding: 10px 50px;
        border: 0;
        border-radius: 10px;
        transition: 0.5s;
       
    }
    .btn_pic{
        display: inline-block;
        position: relative;
        // border: 1px solid green;
        overflow: hidden;
        img{
            width: 46px;
            height: 46px;
        }
        .pic_left{
            width: 23px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // border: 1px solid red;
            background: #fff;
            transform-origin: 100% 50%;
            opacity: 1;
            animation: lefts 1s linear;
            animation-fill-mode: forwards;
        }
        .right_box{
            position: absolute;
            width: 23px;
            height: 100%;
            top: 0;
            right: 0;
            overflow: hidden;
        }
        .pic_right{
            width: 23px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            // border: 1px solid aquamarine;
            background: #fff;
            transform-origin: 0% 50%;
            opacity: 1;
            animation: rights 1s linear;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
        .hideCheck{
            position: absolute;
            width: 20px;
            height: 20px;
            background: #fff;
            top: 13px;
            left: 13px;
            animation: hideCk 1s linear;
            opacity: 1;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
    }
}


@keyframes lefts {
    0%{
        transform: rotate(0);
    }
    99%{
        transform: rotate(-180deg);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes rights {
    0%{
        transform: rotate(0);
    }
    99%{
        transform: rotate(-180deg);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes hideCk{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}